/* 全体 */
/*
body{
  width: 480px;
  margin: 0 auto;
}
*/

.timer_box{
  text-align: center;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 50px;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
}

button{
  cursor: pointer;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  color:black;

  background-color:white;
  padding: 3px 8px;

  border: 1px solid black;
  outline: none;

}

button:hover{
  color:white;
  background-color:black;
  border: 1px solid black;
}

button:disabled{
  color:grey;
  background-color:white;
  border: 1px dotted gray;
}



/* スペースを開ける */
.mgr-10{
  margin-right: 10px;
}

.mgr-20{
  margin-right: 20px;
}



/* toggle_box */
.toggle_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.toggle_box p {
  font-size: 0.8rem;
}



/* input_box */
.input_box{
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-direction: row;

  margin: 40px;
}

input[type=number]{
  width: 60px;
  height: 50px;

  font-family: 'Roboto Condensed', sans-serif;
  color:black;
  font-size: 2.5rem;
  text-align: center;

  background-color:white;
  border: none;
  outline: none;
}