{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tomoko's Portfolio</title>
        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" type="image/png" href="{% static 'images/snow_icon.png' %}">
    </head>
    <body>
        <div class="page-header">
            <!-- Bootstrap Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><h1>Portfolio</h1></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'top' %}#Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'top' %}#Skill">Skill</a>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'top' %}#Works">Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact_form' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div>
        {% block content %}
        {% endblock %}
        </div>
        <div class="text-center">
            <p></p>
            <h4><a href="{% url 'top' %}">Top</a></div></h4>
            <p><br></p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>