{% extends 'blog/base.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="post">
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                {% endif %}
                <h2 class="fw-normal">{{ post.title }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="post" id='post_detail_content'>
                <p class="lh-1">{{ post.text | safe | linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}