{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="fw-normal">洗濯物外干し時の失敗を減らす！神戸駅の天気予報LINEアカウント</h2>
            <h6 class="fw-light text-end">2021年8月3日作成</h6>
            <p> </p>
            <img src="{% static 'images/lwkimg1.jpg' %}" class="img-fluid">
            <p> </p>
            <p>
                晴れた日の洗濯って、なんて気持ち良いんだろう！<br>
                ベランダでの洗濯を終え、さわやかな気分で出勤したあなた。
            </p>
            <p>
                しかし午後、まさかの土砂降り。せっかく外干しした洗濯物がビショビショでショック。<br>
                こんな時に限って、明日以降ずっと雨の予報でさらに落ち込んでしまった…
            </p>
            <p>そんな経験はありませんか？</p>
            <p>
                「Laundry Weather KOBE」なら、外干しの失敗を大幅に減らせます。<br>
                毎朝7時頃、外干しについてのシンプルな天気予報のLINEメッセージをあなたにお届けするからです。<br>
                このサービスはLINEで「Laundry Weather KOBE」アカウントを友だち登録するだけで、すぐにご利用いただけます。
            </p>
            <div>
                <img src="https://qr-official.line.me/sid/M/644nzsvl.png" class="rounded mx-auto d-block">
                <a href="https://lin.ee/5E1LQvk"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" class="rounded mx-auto d-block"></a>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">サービス概要</h3>
            <p> </p>
            <img src="{% static 'images/lwkimg2.jpg' %}" class="img-fluid">
            <p> </p>
            <p>
                このサービスは洗濯に特化したシンプルな天気予報LINEアカウントです。<br>
                「外干しした洗濯物がよく乾くかどうか」ではなく、「外干しして失敗するか」の観点からまとめた情報をお届けします。<br>
                天気予報の対象地点は神戸駅のみです。
            </p>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">利用方法・停止方法</h3>
            <p> </p>
            <div>
                <img src="https://qr-official.line.me/sid/M/644nzsvl.png" class="rounded mx-auto d-block">
                <a href="https://lin.ee/5E1LQvk"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" class="rounded mx-auto d-block"></a>
                <p> </p>
            </div>
            <p>
                上記LINEアカウント「Laundry Weather KOBE」を友だち登録すると、毎朝7時頃にこのアカウントからメッセージが届きます。<br>
                サービスを停止したい場合は、このLINEアカウントのトーク画面右上のメニューからブロックをしてください。
            </p>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">こんな方におすすめ</h3>
            <p> </p>
            <p>
                洗濯物はなるべく日中に外干ししたいが、失敗したくないという方。<br>
                日中外出する方にも、主婦や在宅ワークの方にもおすすめです。<br>
                ただし、夜間の外干しについてはサービスの対象外です。
            </p>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">サービス詳細</h3>
            <p> </p>
            <div>
                <h4 class="fw-normal">本日の外干しアドバイス</h4>
                <p>
                    メッセージが届いた日の7時～18時の1時間ごとの天気予報です。<br>
                    天気予報は以下の3段階でお知らせします。
                </p>
                <ol>
                    <li>
                        OK<br>
                        下記2つに該当しません。外干しして失敗する可能性は低いです。
                    </li>
                    <li>
                        雨等悪天候<br>
                        雨や雪が降るなど、洗濯物に悪影響が出る可能性が高いです。
                    </li>
                    <li>
                        風速10m/s超<br>
                        天気は晴れまたは曇りですが、平均風速が10m/sを超えています。<br>
                        洗濯物が飛ばされたり、埃まみれになるなど、悪影響が出る可能性が高いです。
                    </li>
                </ol>
                <p>参考：<a href="https://www.jma.go.jp/jma/kishou/know/yougo_hp/kazehyo.html">気象庁「風の強さと吹き方」</a></p>
                <p>
                    【この天気予報の活用方法】<br>
                    メッセージが届いた日に洗濯物を外干しするかどうかの参考にしてください。
                </p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">明日以降の外干しアドバイス</h4>
                <p>
                    メッセージが届いた日の翌日を含む4日間の、9時、12時、15時、18時の天気予報です。<br>
                    天気予報は「本日の外干しアドバイス」と同じ法則でお知らせします。
                </p>
                <p>
                    【この天気予報の活用方法】<br>
                    明日以降の天気をふまえて、メッセージが届いた日に洗濯物を外干しするかどうかの参考にしてください。<br>
                    例えば、明日以降ずっと悪天候が続くのであれば、今日洗濯した方が良いかもしれません。
                </p>
            </div>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">サービス作成理由</h3>
            <p> </p>
            <ul>
                <li>洗濯物の外干しに特化したシンプルな天気予報が欲しかったから</li>
                <li>
                    毎日同じ時間に誰かから天気予報を確実に教えて欲しかったから<br>
                    （テレビの天気予報や天気予報アプリを見忘れることが多いから）
                </li>
                <li>独立したアプリではなく、使い慣れたツール（今回はLINE）で気軽に情報を受け取りたかったから</li>
                <li>スクレイピングの参考書で学んだWeb APIを活用してみたかったから</li>
            </ul>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">苦労した点・こだわりの点</h3>
            <p> </p>
            <div>
                <h4 class="fw-normal">視覚に訴えるシンプルさの追求</h4>
                <p>
                    天気の判定を「OK」「雨等悪天候」「風速10m/s超」の3つに絞りました。<br>
                    これにより、一目で「OK」か否かの判断が可能です。<br>
                    また、時間帯を日中に絞ったことで、メッセージの冗長さを防ぎました。
                </p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">試験運用と改善（コード含む）</h4>
                <p>
                    約1か月間の試験運用により、見にくい要素と不要な要素の発見をしました。<br>
                    改善する際、関数を取り入れることで、コードもシンプルにしました。
                </p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">GitHubからのデプロイ</h4>
                <p>
                    コードの公開をしたかったため、GitHubからHerokuへデプロイしました。<br>
                    当初、ローカルのgitリポジトリからheroku createとgit push heroku masterのコマンドでHerokuへデプロイしていました。<br>
                    しかし、この方法ではおそらくGitHubのように手軽にコードを公開することが出来ないと思われました。
                </p>
            </div>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">使用技術と選定理由</h3>
            <p> </p>
            <div>
                <h4 class="fw-normal">Python 3.9</h4>
                <p>
                    Pythonは初めて本格的に学習した言語であり、知識があるため。<br>
                    Pythonを学習した理由は、
                </p>
                <ul>
                    <li>初心者でも学びやすい、という情報をインターネットから得たこと</li>
                    <li>機械学習に興味があったこと</li>
                </ul>
                <p>
                    です。<br>
                    バージョンは、Pythonanywhereが対応しているバージョンの中で開発時に最新だった3.9を選定しました。
                </p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">Heroku</h4>
                <p>毎日同じ時間にWeb上でプログラムを動かす方法を学ぶ際に参考にしたホームページで使用されていたため。</p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">LINE Messaging API</h4>
                <p>
                    誰でも簡単に使えるサービスにしたかったため。<br>
                    LINEの友達登録だけでメッセージが届くようになる、という手軽さに魅力を感じました。<br>
                </p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">OpenWeatherMap のWeather API</h4>
                <p>スクレイピングの参考書で学習したため。</p>
            </div>
            <hr>
            <div>
                <h4 class="fw-normal">GitHub</h4>
                <p>
                    コードを公開するため。<br>
                    Herokuを利用してWebアプリを公開するだけならGitHubを利用しない方法もありますが、あえて利用しました。
                </p>
            </div>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">GitHub</h3>
            <p> </p>
            <p><a href="https://github.com/tomokopa/laundryweathergithub" target="_blank" rel="noopener">リンク</a></p>
        </div>
    </div>
    <div class="row works_block">
        <div class="col-md-12">
            <h3 class="fw-normal p-2 mb-2 bg-light text-dark border">参考</h3>
            <p> </p>
            <ul>
                <li><a href="https://tanuhack.com/selenium-bs4-heroku/" target="_blank" rel="noopener">スクレイピング(Selenium, Beautiful Soup)をサーバー上(Heroku)で定期実行させる方法</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}